<div [@dialog] *ngIf="visible" class="dialog">


  <div *ngIf="!forgotMode">
<div class="title">Login</div>
    <form>
      <input type="text" autofocus [(ngModel)]='emailField' name="emailField" ide="emailField'" placeholder="email"/>
      <input type="password" [(ngModel)]='passField' name="passField" ide="passField'"  placeholder="password"/>

      <div class="error">
        {{errorMessage}}
      </div>

      <button (click)="login()">login</button>
      <p class="message">Forgot <a (click)="forgotMode = true">password?</a></p>

    </form>




  </div>

  <div *ngIf="forgotMode">

    <h3>Enter your email</h3>
    <p>An email will be sent to you</p>
    <input type="text" [(ngModel)]='forgotField' name="forgotField" ide="forgotField'" placeholder="registered@email.com"/>
    <button (click)="showForgotPassword()">Submit</button>
  <p class="message">Already <a  (click)="forgotMode = false">registered?</a></p>
  </div>



<!--
  <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>
-->
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>

