<div class='panel panel-primary' xmlns:date="http://www.w3.org/1999/xhtml">
  <div class='panel-heading' style='font-size:large'>
    {{pageTitle + ': ' + name}}
  </div>

  <form  (submit)="onEditSubmit()">
    <div class="form-group">
      <label>Item name</label>
      <br>
      <div class="col-sm-7">
      <input class="form-control" type="text" [(ngModel)]="name" name="name" required>
      </div>
    </div>
   <!--
    <div class="form-group">
      <label>Borrower</label>
      <input class="form-control" type="text" [(ngModel)]="borrowerName" name="borrowerName"  placeholder="None" readonly>
    </div>
-->
    <div *ngIf="dueDate" class="form-group">
      <label>Due Date</label>
      <br>
      <div class="col-sm-7">
      <input class="form-control" type="text" [(ngModel)]="dueDate" name="dueDate" required>
      </div>
    </div>

<br>
    <div class="form-group">
      <label>Description</label>
      <br>
      <textarea  [(ngModel)]='description' name="description" ide="description'" rows="2" cols="32">
      </textarea>
    </div>

   <!--
    <div class="form-group">
      <label>Status</label>
      <br>
      <div class="col-sm-4">
      <select class="form-control" type="text" [(ngModel)]="status" name="status" required>
        <option value="Out">Out</option>
        <option value="Available">Available</option>
      </select>
      </div>
    </div>
-->

<!--
    <input type="submit" [disabled]="" value="Update" class="btn btn-success">
    -->
  </form>

  <div class='panel-footer'>
    <a class='btn btn-default' (click)='onBack()' style='width:80px'>
      <i class='glyphicon glyphicon-chevron-left'></i> Back
    </a>

    <a class='btn btn-default' (click)='onEditSubmit()' style='width:80px'>
      <i class='glyphicon glyphicon-chevron-right'></i>Add Item
    </a>

  </div>
</div>
