<popup  #popup1 (confirmClick)="onDeleteClick()">
  Are you sure you want to delete item {{item.name}} ?
</popup>


    <div class='panel panel-primary' *ngIf='item'>

    <div class='panel-heading' style='font-size:large'>
        {{pageTitle + ': ' + item.name}}
    </div>


    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>

                <b>Borrower details</b>



            <div  class='row'>
            <img class="avatar"
                 [style.width.px]='50'
                 [style.height.px]='50'
                 [style.margin-left.px]='50'
                 [src]='item.loan?.userPhoto'>
            </div>

          <div class='row'>
              <div  class='col-md-7'>{{item.loan?.loanerName}}</div>
            </div>


                <div class='row'>
                    <div class='col-md-4'>Due Date:</div>
                    <div  class='col-md-6'>{{item?.loan?.formattedShortDate}}</div>
                </div>
              <br>
              <div *ngIf="item.reserved"><b>Reservation details</b></div>
              <div  *ngFor='let res of reserved' class='row'>

                <div  class='row'>
                  <img class="avatar"
                       [style.width.px]='50'
                       [style.height.px]='50'
                       [style.margin-left.px]='50'
                       [src]='res?.userPhoto'>
                </div>
                <div class='col-md-7'>{{res.userName}}</div>
                <br>
                <div  class='col-md-4'>Pickup Date:</div>
                <div class='col-md-5'>{{res.formattedShortpUpDate}}</div>
                <br>
                <div  class='col-md-4'>Return Date:</div>
                <div class='col-md-5'>{{res.formattedShortRetDate}}</div>
                <br>
                <div class='col-md-11'>------------------------------------------------------------</div>
              </div>
<br>
              <b>Misc details</b>
              <div class='row'>
                <div class='col-md-4'>Numb of days:</div>
                <div class='col-md-2'>{{item?.reservationDays}}</div>
              </div>


              <div class='row'>
                <div class='col-md-2'>Notice:</div>
                <div class='col-md-9'>{{item?.description}}</div>
              </div>

              <div class='row'>
                <div class='col-md-4'>Status:</div>
                <div class='col-md-6'>{{item?.status}}</div>
              </div>


            </div>

            <div  *ngIf="item.photoURL" class='col-md-6'>
                <img class="img-thumbnail"
                     [style.width.px]='200'
                     [style.margin.px]='2'
                     [src]='item?.photoURL'
                     >
            </div>

          <div *ngIf="!item.photoURL" class='col-md-6'>
            <img class="img-thumbnail" class='center-block img-responsive'
                 [style.width.px]='200'
                 [style.margin.px]='2'
                 src='../../assets/images/NoPhoto.png'
                 >
          </div>
        </div>
    </div>

    <div class='panel-footer'>

        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>

      <a class="btn btn-default" [routerLink]="['/edit-item/'+item.$key]"><i class='glyphicon glyphicon-edit'></i> Edit</a>

      <a (click)="deleteDialog()"  class="btn btn-danger">  <i class='glyphicon glyphicon-trash'></i> Delete</a>

      <span *ngIf="item.status=='Notify'">
        <a class='btn btn-warning' (click)="sendEmail(item.loan?.userEmail, item.loan?.loanerName, item.loan?.formattedShortDate)" style='width:150px'>
    <i class='glyphicon glyphicon-bell'></i> Send a reminder</a>
</span>
    </div>
</div>
