<div class='panel panel-primary' *ngIf='item'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle + ': ' + item.name}}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>

              <div class='row'>
                <div class='col-md-3'>Borrower:</div>
                <div class='col-md-6'>{{item.borrowerName}}</div>
              </div>

                <div class='row'>
                    <div class='col-md-3'>Due Date:</div>
                    <div class='col-md-6'>{{item.dueDate}}</div>
                </div>

              <div class='row'>
                <div class='col-md-3'>Status:</div>
                <div class='col-md-6'>{{item.status}}</div>
              </div>

              <div class='row'>
                <div class='col-md-3'>Notice:</div>
                <div class='col-md-6'>{{item.description}}</div>
              </div>

            </div>

            <div class='col-md-6'>
                <img class='center-block img-responsive'
                     [style.width.px]='200'
                     [style.margin.px]='2'
                     [src]='imageUrl'
                     [title]='item.name'>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>

      <a class="btn btn-default" href="#">Edit</a>
      <a class="btn btn-danger" href="#">Delete</a>
    </div>
</div>
