<div class="table-responsive">
  <!-- <table class='table table-striped'>   -->
  <table class='table table-striped'>
    <thead>
    <tr bgcolor="#422744">

      <th>Item({{nrOfItem}}):</th>
      <th></th>
      <th>Borrower:</th>
      <th></th>
      <th>Due date:</th>
      <th>Reserved:</th>
      <th>Status:</th>
    </tr>
    </thead>
    <tbody>


    <tr *ngFor='let item of visibleItems | itemFilter:listFilter , let i = index '   (click)="setClickedRow(i,item.$key)" [class.active]='i == currentRow'>
      <td width=10>
        <div *ngIf="item.photoURL">
          <img   style="float: left" [src]='item.photoURL'
               [style.width.px]='imageWidth'
               [style.margin.px]='imageMargin'></div>
      </td>

      <!--   <a [routerLink]="['/item/'+item.$key]">{{ item.name }}</a>    -->
      <div class="verticalCenter">
      <td>{{ item.name }}</td>
      </div>

   <!--   <td><a   item.$key  >{{ item.name }}</a></td>  -->

      <td width=10>
        <div *ngIf="item?.loan">
          <img class="avatar" style="float: left" [src]='item.loan?.userPhoto'
               [style.width.px]='imageWidth'
               [style.margin.px]='imageMargin'></div>
      </td>

      <div style="margin-top: 9% ">
      <td *ngIf="item.loan">{{ item.loan.loanerName}}</td>
      <td *ngIf="(!item.loan)"></td>
      </div>

      <td *ngIf="item.loan">{{ item.loan.formattedShortDate}}</td>
      <td *ngIf="(!item.loan)"></td>

      <td>
              <span *ngIf="item.reserved">
                Yes
              </span>
        <span *ngIf="!item.reserved">

              </span>
      </td>


      <div  style="margin-top: 20px">
      <td>
                  <span *ngIf="item.status=='Out' ">
                    <img src="../../assets/images/out-icon.png"
                         style="max-height:50%;max-width:50%"/>
                     {{item.status}}
                </span>
        <span *ngIf="item.status=='Available' ">
                    <img src="../../assets/images/available-icon.png"
                         style="max-height:50%;max-width:50%"/>
                     {{item.status}}
                </span>

          <span  *ngIf="item.status=='Notify' ">
                    <img src="../../assets/images/notify-icon.png"
                         style="max-height:50%;max-width:50%"/>
            Overdue
            </span>

      </td>
      </div>

    </tr>

    </tbody>
  </table>
</div>


<app-item-dialog [(visible)]="showDialog" [(receiveID)]="sendID"></app-item-dialog>

