<div class="panel panel-primary">
  <div class='panel-heading'>
    <img src="../../assets/images/logo_bannerjpg_small.jpg"/>

<!--
    <ul class="nav navbar-nav navbar-right">
      <a class="item">
        <img class="ui avatar img-responsive" [src]="userImage">
      </a>
      <li><a>{{theUser}} Logged in</a></li>
    </ul>
-->

    <ul class="nav navbar-nav navbar-right">
      <li><a>{{theUser}} Logged in</a></li>
    </ul>

  </div>

  <div class='panel-body'>
    <div class="search" align="right">
      <div class='col-md-3' >
        <input type='text' [(ngModel)]='listFilter' placeholder="Search for items"/>  <!-- bind listFilter -->
      </div>
    </div>
    <div class='row' style="margin-bottom:10px">
      <div class='col-md-5'>
        <h3>Searched for : {{listFilter}} </h3>
      </div>

      <div class="col-md-">
      <div class="btn-group btn-group-sm" style="margin-right:70px">
        <button class="btn btn-default" [class.active]="filterBy==='all'" (click)="filterBy='all'">All</button>
        <button class="btn btn-default" [class.active]="filterBy==='available'" (click)="filterBy='available'">In stock</button>
        <button class="btn btn-default" [class.active]="filterBy==='out'" (click)="filterBy='out'">Out now</button>
        <button class="btn btn-default" [class.active]="filterBy==='notify'" (click)="filterBy='notify'">Notify</button>
      </div>

    </div>
    </div>
<app-item-list-nest [filterBy]="filterBy"  [items]="items" [listFilter]="listFilter" ></app-item-list-nest>
  </div>


</div>
