<popup  #popup1 (confirmClick)="onDeleteClick()">
  Are you sure you want to delete user {{item.name}} ?
</popup>


    <div class='panel panel-primary' *ngIf='item'>

    <div class='panel-heading' style='font-size:large'>
        {{pageTitle + ': ' + item.name}}
    </div>


    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>

              <div class='row'>
                <div class='col-md-3'>Borrower:</div>
                <div  class='col-md-6'>{{item.loan?.loanerName}}</div>
              </div>

                <div class='row'>
                    <div class='col-md-3'>Due Date:</div>
                    <div  class='col-md-6'>{{item?.loan?.formattedShortDate}}</div>
                </div>
              <br>
              <div *ngIf="item.reserved">Reservation details</div>
              <div  *ngFor='let res of reserved' class='row'>


                <div  class='col-md-3'>Reserved by:</div>
                <div class='col-md-6'>{{res.userName}}</div>
                <br>
                <div  class='col-md-3'>Pickup Date:</div>
                <div class='col-md-3'>{{res.formattedShortpUpDate}}</div>
                <br>
                <div  class='col-md-3'>Return Date:</div>
                <div class='col-md-3'>{{res.formattedShortRetDate}}</div>
                <br>
                <div>------------------------------------------------------------</div>
              </div>
<br>
              <div class='row'>
                <div class='col-md-3'>Number of days:</div>
                <div class='col-md-2'>{{item?.reservationDays}}</div>
              </div>


              <div class='row'>
                <div class='col-md-3'>Notice:</div>
                <div class='col-md-6'>{{item?.description}}</div>
              </div>

              <div class='row'>
                <div class='col-md-3'>Status:</div>
                <div class='col-md-6'>{{item?.status}}</div>
              </div>

              <div *ngIf="item.status=='Notify' " class='col-md-12'>
              <button type="button" (click)="sendEmail(item.loan?.eMail, item.loan?.loanerName)" class="btn btn-warning">Send a reminder</button>
              </div>
            </div>

            <div  *ngIf="item.photoURL" class='col-md-6'>
                <img class="img-thumbnail"
                     [style.width.px]='200'
                     [style.margin.px]='2'
                     [src]='item?.photoURL'
                     >
            </div>

          <div *ngIf="!item.photoURL" class='col-md-6'>
            <img class="img-thumbnail" class='center-block img-responsive'
                 [style.width.px]='200'
                 [style.margin.px]='2'
                 src='../../assets/images/NoPhoto.png'
                 >
          </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>

      <a class="btn btn-default" [routerLink]="['/edit-item/'+item.$key]">Edit</a>
      <a (click)="deleteDialog()"  class="btn btn-danger">Delete</a>

    </div>
</div>
