<div class="table-responsive">
  <table class='table table-striped'>
    <thead>
    <tr bgcolor="#422744">
      <th>Users({{nrOfUsers}})</th>
      <th></th>
      <th>Email</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>


    <tr *ngFor='let user of visibleUsers | userFilter:listFilter, let i = index' (click)="setClickedRow(i,user.userUid, user.fullname, user.email)" [class.active]='i == currentRow'>

      <td width=10>
      <img  class="avatar" [src]='user.photoURL'
               [title]='user.fullname'> </td>
      <td>{{ user?.fullname }}</td>
      <td>{{ user?.email}}</td>
      <td>
          <span *ngIf="user?.adminAccess==true ">
              <span class="glyphicon glyphicon-ok-circle"></span>
            Admin
          </span>
        <span *ngIf="!user?.adminAccess ">
       Borrower
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<app-user-dialog [(visible)]="showDialog" [(receivedID)]="sendID" [(lendingItems)]="lendingItems" [(receivedName)]="sendName" [(receivedEmail)]="sendUserEmail"    [(receivedEntity)]="receivedEntity"></app-user-dialog>
