<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Pigify</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">


      <ul class="nav navbar-nav navbar-left">
          <li *ngIf="tabs"><a [routerLink]="['/add']">Add item</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li *ngIf="tabs"><a [routerLink]="['items']">List items</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li *ngIf="tabs"><a [routerLink]="['users']">List users</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="(af.auth | async)"><a (click)="logout()">Logout</a></li>
      </ul>
      <div *ngIf="theUser">
        <ul>
          <li><a>{{theUser}} Logged in</a></li>
        </ul>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>
