<div class="table-responsive">
  <table class='table table-striped'>
    <thead>
    <tr bgcolor="#422744">
      <th>Library name</th>
      <th>Type</th>
      <th>Status</th>
      <th>Role</th>
    </tr>
    </thead>

    <tbody>
    <!--
    <tr *ngFor='let entity of visibleJoinedEntities |  entityFilter:list, let i = index' (click)="setClickedRow(i,entity.entity,entity.entityName)" [class.active]='i == currentRow'>


      <div  style="margin-bottom: 40px ">
        <td>{{ entity?.entityName }}</td>
      </div>
      <td>Granted</td>
      <td *ngIf="entity.entityName === userEntityName">Currently selected</td>
      <td>
          ...
      </td>
    </tr>
-->
    <tr *ngFor='let entity of visibleEntities |  entityFilter:list, let i = index' (click)="setClickedRow(i,entity)" [class.active]='i == currentRow'>


      <div style="margin-top: 10px ">
        <td>{{ entity?.name }}</td>
      </div>
      <td>Owner</td>
      <td *ngIf="entity.name === userEntityName">Currently selected</td>
      <td *ngIf="entity.name != userEntityName"></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

<app-library-dialog  [(visible)]="showDialog" [(selectedLibrary)]="selectedLibrary"></app-library-dialog>
