


/* You can add global styles to this file, and also import other style files */

/*

body {
  background:#E2E4E6;
  padding-top:4em;
}



@media (max-width: 600px) {
  body {
    padding-top:1.2em;
  }

  .form-container {
    padding:1.2em;
    width:90%;
    margin-left:-45%;
  }
  button {
    font-size:1em;
  }
}

*/
