﻿

<body>
<div class="container">

    <img src="./assets/icons/logo.svg" class="logo">
  <div class="title"><b>Pigify</b></div>
  <div class="text">Your Library of <br>Things!</div>
</div>

<button class="loginButton" (click)="login()"><img src="./assets/icons/fb-icon.svg" width="20" height="20"/> Sign in
  with Facebook
</button>


<button class="emailLoginButton" (click)="emailShowDialog = !emailShowDialog"><img src="./assets/icons/email.svg" width="20" height="20"/> Email
</button>


</body>

<app-email-login-dialog [(visible)]="emailShowDialog">
</app-email-login-dialog>
