/*
@media (max-width: 600px) {
  #page {
    padding: 1em;
  }

  #toolbar {
    width: 90%;
    margin-left: -45%;
  }

  #fb {
    background: #3B5998;
  }

}
*/
.container {
  text-align: center;
  top: 35%;
  left: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo {

  color: white;
  height: 170px;
  width: 170px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-family: 'Montserrat', sans-serif;

}


.title {
  color: #422744;
  font-size: 50px;
}

.text {
  white-space: nowrap;
  font-style: italic;
  line-height: 130%;
  font-size: 20px;
  margin: 10px;
}

.loginButton {
  top: 61%;
  left: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #266ac1;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 14px 40px;
}

.emailLoginButton {
  top: 61%;
  left: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #b7b8ba;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 70px;
  cursor: pointer;
  padding: 14px 98px;
}


.bannerTitle {
  color: #422744;
  margin-left: 10px;
  font-size: 20px;
  display: inline;
}

.bannerText {
  color: black;
  font-size: 12px;
  font-style: italic;
  white-space: nowrap;
  display: inline;
}


